.App {
  text-align: center;
}

li {
  display: inline-block;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

form {
  margin: 20px;
  padding: 10px;
  border: 1px;
  border-color: gray;
  border-style: dashed;
}