.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  transition: 0.1s ease-in-out;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #fff;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
  margin-right: 30px;
  color: #fff;
}

.BuildControl .Less {
  background-color: rgb(255, 159, 42);
  color: white;
}

.BuildControl .More {
  background-color: rgb(77, 43, 0);
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 159, 42);
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #fff;
  color: #4d2b00;
}
